.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #888692;
    padding: 0 15px;
    border-bottom: 1px solid #e4ebee;
}

.content-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user__avatar {
    width: 60px;
    height: 60px;
    border: 1px solid #dbe3e8;
    border-radius: 100%;
    background: #fff;
    margin-left: 20px;
    cursor: pointer;
}